# Accounts

## Get All Accounts

<%= partial "/includes/accounts/getData.md.erb"%>

This endpoint retrieves all accounts.
### HTTP Request
<span class="method-get">GET</span> `/v1/accounts`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
sort | false | TBD.
filter | true | TBD.
page |

<%= partial "/includes/permission/getData.md.erb" %>

## Create an Account

> Example Request Body

```json
{
  "data": {
    "name": "2 englishName",
    "email": "info@sasha.com",
    "address": "3 address",
    "invoiceAddress": "4 .Invoice Address",
    "deliveryAddress": "5 .Delivery Address",
    "tel": "6 phone",
    "vatNumber": "7 vatNumber",
    "webSite": "https://www.apple.com",
    "image": "image",
    "discount": 0.2,
    "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa"
  }
}
```

<%= partial "/includes/users/getData.md.erb" %>

This endpoint creates an account.
### HTTP Request
<span class="method-post">POST</span> `/v1/accounts`

<%= partial "/includes/accounts/requestParameters.md.erb"%>

<aside class="notice">
About the <code>discount</code> field
The default <code>sellPrice</code> of <code>Product</code> should be <code>standardPrice * (1 - discount) * 100%</code>.
</aside>
<aside class="notice">
At Response Body, <code>CompanyId</code> is  <code>user.CompanyId</code>
</aside>
<aside class="notice">
Only Admin can assign <code>&lt;UserId&gt;</code>, and it must same as admin's userId
</aside>

<%= partial "/includes/permission/createData.md.erb" %>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Get a Specific Account

<%= partial "/includes/accounts/getOne.md.erb" %>

This endpoint retrieves a specific account.
### HTTP Request
<span class="method-get">GET</span> `/v1/accounts/:accountId`

<%= partial "/includes/permission/getData.md.erb" %>

## Update My Account

<%= partial "/includes/accounts/updateData.md.erb" %>

This endpoint updates a my account.
### HTTP Request
<span class="method-patch">PATCH</span> `/v1/accounts/:accountId`

<%= partial "/includes/accounts/requestParameters.md.erb"%>

<%= partial "/includes/permission/updateData.md.erb" %>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Update a Specific Account

<%= partial "/includes/accounts/updateData.md.erb" %>

This endpoint updates a specific account.
### HTTP Request
<span class="method-patch">PATCH</span> `/v1/accounts/:accountId`

<%= partial "/includes/accounts/requestParameters.md.erb"%>

<%= partial "/includes/permission/updateData.md.erb" %>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Delete a Specific Account

<%= partial "/includes/common/deleteResponse.md.erb"%>

This endpoint deletes a specific account.
### HTTP Request
<span class="method-delete">DELETE</span>`/v1/accounts/:accountId`

<%= partial "/includes/permission/deleteData.md.erb" %>

## Get Contacts from a Specific Account

<%= partial "/includes/contacts/getData.md.erb" %>

This endpoint retrieves contacts from a specific account.

### HTTP Request
<span class="method-get">GET</span>`/v1/accounts/:accountId/contacts`

<%= partial "/includes/permission/getData.md.erb" %>

## Get Projects from a Specific Account

<%= partial "/includes/projects/getData.md.erb" %>

This endpoint retrieves projects from a specific account.
### HTTP Request
<span class="method-get">GET</span>`/v1/accounts/:accountId/projects`

<%= partial "/includes/permission/getData.md.erb" %>

## Get Quotations from a Specific Account

<%= partial "/includes/quotations/getData.md.erb" %>

This endpoint retrieves quotations from a specific account.
### HTTP Request
<span class="method-get">GET</span>`/v1/accounts/:accountId/quotations`

<%= partial "/includes/permission/getData.md.erb" %>

## Get Products from a Specific Account

<%= partial "/includes/products/getData.md.erb" %>

This endpoint retrieves products from a specific account. In which include lowest price and previous price
### HTTP Request
<span class="method-get">GET</span>`/v1/accounts/:accountId/products`

<%= partial "/includes/permission/getData.md.erb" %>
