# Accounts

## Get All Accounts

<%= partial "/includes/accounts/getData.md.erb"%>

This endpoint retrieves all accounts.
### HTTP Request
<span class="method-get">GET</span> `/v1/accounts`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
sort | false | TBD.
filter | true | TBD.
page |

<%= partial "/includes/permission/getData.md.erb" %>

## Create an Account

> Example Request Body

```json
{
  "data": {
    "name": "2 englishName",
    "email": "info@sasha.com",
    "address": "3 address",
    "invoiceAddress": "4 .Invoice Address",
    "deliveryAddress": "5 .Delivery Address",
    "tel": "6 phone",
    "vatNumber": "7 vatNumber",
    "webSite": "https://www.apple.com",
    "image": "image",
    "discount": 0.2,
    "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa"
  }
}
```

> Example Response Body

```json
{
  "status": {
    "status": 201,
    "message": "Created"
  },
  "data": {
    "id": "4095d37e-89d0-46de-9d45-9375351da58b",
    "name": "2 englishName",
    "email": "info@sasha.com",
    "address": "3 address",
    "invoiceAddress": "4 .Invoice Address",
    "deliveryAddress": "5 .Delivery Address",
    "tel": "6 phone",
    "vatNumber": "7 vatNumber",
    "webSite": "https://www.apple.com",
    "image": "image",
    "discount": 0.2,
    "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
    "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
    "updatedAt": "2020-02-22T15:02:44.214Z",
    "createdAt": "2020-02-22T15:02:44.214Z"
  }
}
```

This endpoint creates an account.
### HTTP Request
<span class="method-post">POST</span> `/v1/accounts`

<%= partial "/includes/accounts/requestParameters.md.erb"%>

<aside class="notice">
About the <code>discount</code> field
The default <code>sellPrice</code> of <code>Product</code> should be <code>standardPrice * (1 - discount) * 100%</code>.
</aside>
<aside class="notice">
At Response Body, <code>CompanyId</code> is  <code>user.CompanyId</code>
</aside>
<aside class="notice">
Only Admin can assign <code>&lt;UserId&gt;</code>, and it must same as admin's userId
</aside>

<%= partial "/includes/permission/createData.md.erb" %>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Get a Specific Account

<%= partial "/includes/accounts/getOne.md.erb" %>

This endpoint retrieves a specific account.
### HTTP Request
<span class="method-get">GET</span> `/v1/accounts/:accountId`

<%= partial "/includes/permission/getData.md.erb" %>

## Update My Account

<%= partial "/includes/accounts/updateData.md.erb" %>

This endpoint updates a my account.
### HTTP Request
<span class="method-patch">PATCH</span> `/v1/accounts/:accountId`

<%= partial "/includes/accounts/requestParameters.md.erb"%>

<%= partial "/includes/permission/updateData.md.erb" %>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Update a Specific Account

<%= partial "/includes/accounts/updateData.md.erb" %>

This endpoint updates a specific account.
### HTTP Request
<span class="method-patch">PATCH</span> `/v1/accounts/:accountId`

<%= partial "/includes/accounts/requestParameters.md.erb"%>

<%= partial "/includes/permission/updateData.md.erb" %>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Delete a Specific Account

<%= partial "/includes/common/deleteResponse.md.erb"%>

This endpoint deletes a specific account.
### HTTP Request
<span class="method-delete">DELETE</span>`/v1/accounts/:accountId`

<%= partial "/includes/permission/deleteData.md.erb" %>

## Get Contacts from a Specific Account

> Example Response Body

```json
{
  "status": {
    "status": 200,
    "message": "OK"
  },
  "data": [
    {
      "id": "a98b92de-2e7f-49fa-8874-2882b3954733",
      "name": "contacA3",
      "email": "contacA3@accountA3.com",
      "phone": "55 phone",
      "mobile": "66 mobile",
      "fax": "77 fax",
      "image": "88 image",
      "title": "99 title",
      "address": "addressA3",
      "createdAt": "2020-02-19T13:32:28.000Z",
      "updatedAt": "2020-02-19T13:36:23.000Z",
      "AccountId": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
      "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
      "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa"
    }
  ]
}
```

This endpoint retrieves contacts from a specific account.

### HTTP Request
<span class="method-get">GET</span>`/v1/accounts/:accountId/contacts`

<%= partial "/includes/permission/getData.md.erb" %>

## Get Projects from a Specific Account

> Example Response Body

```json
{
  "status": {
      "status": 200,
      "message": "OK"
  },
  "data": [
    {
      "id": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
      "name": "projectA3",
      "winRate": "98.5%",
      "stage": "Prospecting, Qualification, Value Propostition, Price Quote, Negotiation, Close Won, Close Lost",
      "competitor": "廣達，鴻海",
      "totalPrice": 34600,
      "cost": 5750,
      "margin": 0.833815,
      "closdeDate": "1559927161",
      "createdAt": "2020-02-19T13:44:15.000Z",
      "updatedAt": "2020-02-22T12:09:37.000Z",
      "AccountId": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
      "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
      "ContactId": "a98b92de-2e7f-49fa-8874-2882b3954733",
      "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
      "Account": {
        "id": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
        "name": "accountA3",
        "image": "image"
      },
      "Contact": {
        "id": "a98b92de-2e7f-49fa-8874-2882b3954733",
        "name": "contacA3",
        "image": "88 image"
      }
    }
  ]
}
```

This endpoint retrieves projects from a specific account.
### HTTP Request
<span class="method-get">GET</span>`/v1/accounts/:accountId/projects`

<%= partial "/includes/permission/getData.md.erb" %>

## Get Quotations from a Specific Account

> Example Response Body

```json
{
  "status": {
    "status": 200,
    "message": "OK"
  },
  "data": [
    {
      "id": "09cae17d-298c-443d-b966-268b30f77d71",
      "name": "QuotationA3",
      "expriretionDate": "data.expriretionDate",
      "totalPrice": 1900,
      "cost": 350,
      "margin": 0.815789,
      "currency": "USD",
      "paymentTerm": "TT Advance",
      "number": "IP-85008122",
      "createdAt": "2020-02-22T06:22:17.000Z",
      "updatedAt": "2020-02-22T06:22:18.000Z",
      "AccountId": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
      "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
      "ContactId": "a98b92de-2e7f-49fa-8874-2882b3954733",
      "ProjectId": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
      "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
      "Account": {
        "id": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
        "name": "accountA3",
        "image": "image"
      },
      "Contact": {
        "id": "a98b92de-2e7f-49fa-8874-2882b3954733",
        "name": "contacA3",
        "image": "88 image"
      },
      "Project": {
        "id": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
        "name": "projectA3"
      }
    },
    {
      "id": "22051740-c82b-4616-abd5-f2977165f2f9",
      "name": "QuotationA3",
      "expriretionDate": "data.expriretionDate",
      "totalPrice": 1900,
      "cost": 350,
      "margin": 0.815789,
      "currency": "USD",
      "paymentTerm": "TT Advance",
      "number": "IP-85008122",
      "createdAt": "2020-02-22T07:18:29.000Z",
      "updatedAt": "2020-02-22T07:18:29.000Z",
      "AccountId": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
      "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
      "ContactId": "a98b92de-2e7f-49fa-8874-2882b3954733",
      "ProjectId": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
      "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
      "Account": {
        "id": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
        "name": "accountA3",
        "image": "image"
      },
      "Contact": {
        "id": "a98b92de-2e7f-49fa-8874-2882b3954733",
        "name": "contacA3",
        "image": "88 image"
      },
      "Project": {
        "id": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
        "name": "projectA3"
      }
    }
  ]
}
```

This endpoint retrieves quotations from a specific account.
### HTTP Request
<span class="method-get">GET</span>`/v1/accounts/:accountId/quotations`

<%= partial "/includes/permission/getData.md.erb" %>
