# Contacts

## Get All Contacts

<%= partial "/includes/contacts/getData.md.erb" %>

This endpoint retrieves all contacts.
### HTTP Request
<span class="method-get">GET</span> `/v1/contacts`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

<%= partial "/includes/permission/getData.md.erb" %>

## Create a Contact

> Example Request Body

```json
{
  "data": {
    "name": "contacA3",
    "email": "contacA3@accountA3.com",
    "phone": "55 phone",
    "mobile": "66 mobile",
    "fax": "77 fax",
    "image": "88 image",
    "title": "99 title",
    "address": "address",
    "AccountId": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3"
  }
}
```

> Example Response Body

```json
{
  "status": {
    "status": 201,
    "message": "OK"
  },
  "data": {
    "id": "00596528-decb-4687-b6cd-1e34d5940f32",
    "name": "contacA3",
    "email": "contacA3@accountA3.com",
    "phone": "55 phone",
    "mobile": "66 mobile",
    "fax": "77 fax",
    "image": "88 image",
    "title": "99 title",
    "address": "address",
    "AccountId": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
    "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
    "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
    "updatedAt": "2020-02-22T15:20:41.824Z",
    "createdAt": "2020-02-22T15:20:41.824Z"
  }
}
```

This endpoint creates a contacts.

### HTTP Request
<span class="method-post">POST</span> `/v1/contacts`

<%= partial "/includes/contacts/requestParameters.md.erb"%>

<%= partial "/includes/permission/createData.md.erb" %>

## Get a Specific Contact

<%= partial "/includes/contacts/getOne.md.erb"%>

This endpoint retrieves a specific contacts.
### HTTP Request
<span class="method-get">GET</span> `/v1/contacts/:contactId`

<%= partial "/includes/permission/getData.md.erb"%>

## Update a Specific Contact

<%= partial "/includes/contacts/updateData.md.erb"%>

This endpoint updates a specific contact.
### HTTP Request
<span class="method-patch">PATCH</span> `/v1/contacts/:contactId`

<%= partial "/includes/contacts/requestParameters.md.erb"%>

<%= partial "/includes/permission/updateData.md.erb"%>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Delete a Specific Contact

<%= partial "/includes/common/deleteResponse.md.erb"%>

This endpoint deletes a specific contact.
### HTTP Request
<span class="method-delete">DELETE</span>`/v1/contacts/:contactId`

<%= partial "/includes/permission/deleteData.md.erb" %>
