# Quotations `TBD`

## Get All Quotations `TBD`

<%= partial "/includes/quotations/getData.md.erb" %>

This endpoint retrieves all quotations.
### HTTP Request
<span class="method-get">GET</span> `/v1/quotations`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

<%= partial "/includes/permission/getData.md.erb" %>

## Create a Quotation

> Example Request Body

```json
{
  "data": {
    "name": "QuotationA3",
    "description": "data.description",
    "expriretionDate": "data.expriretionDate",
    "currency": "USD",
    "paymentTerm": "TT Advance",
    "number": "IP-85008122",
    "remark": "my commit",
    "validity": "30"
    "ProjectId": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
    "ContactId": "a98b92de-2e7f-49fa-8874-2882b3954733",
    "products": [
      {
        "ProductId": "0f351ea4-2928-4a7e-b5ee-7ab38bb2b738",
        "quantity": 2,
        "sellPrice": 500,
        "schedule": "20280229"
      },
      {
        "ProductId": "e48f5ae9-e877-4bd7-a61e-d1d3462228f1",
        "quantity": 3,
        "sellPrice": 300,
        "schedule": "20280229"
      }
    ]
  }
}
```

> Example Response Body

```json
{
  "status": {
    "status": 201,
    "message": "Created"
  },
  "data": {
    "id": "f15d1878-a79e-44bf-9bb8-88887cb6e195",
    "name": "QuotationA3",
    "expriretionDate": "data.expriretionDate",
    "totalPrice": 1900,
    "cost": 350,
    "margin": 0.815789,
    "currency": "USD",
    "paymentTerm": "TT Advance",
    "number": "IP-85008122",
    "remark": "my commit",
    "validity": "30",
    "pdfUrl": "https://api.kfclts.space/v1/pdfs/quotations/acd30dc6-9dd2-4fa8-8922-9bd16d0c32b4",
    "createdAt": "2020-02-22T16:04:01.000Z",
    "updatedAt": "2020-02-22T16:04:01.000Z",
    "AccountId": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
    "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
    "ContactId": "a98b92de-2e7f-49fa-8874-2882b3954733",
    "ProjectId": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
    "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
    "Products": [
      {
        "id": "e48f5ae9-e877-4bd7-a61e-d1d3462228f1",
        "model": "modelA3",
        "description": "22 description",
        "cost": 50,
        "standardPrice": 200,
        "margin": 1.2,
        "image": "66 image",
        "standard": true,
        "createdAt": "2020-02-22T05:18:49.000Z",
        "updatedAt": "2020-02-22T05:18:49.000Z",
        "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
        "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
        "Quotation_Product": {
          "id": "38089532-c67e-472d-bc70-920c8e8f11dd",
          "quantity": 3,
          "sellPrice": 300,
          "totalPrice": 900,
          "margin": 0.833333,
          "schedule": "20280229",
          "createdAt": "2020-02-22T16:04:01.000Z",
          "updatedAt": "2020-02-22T16:04:01.000Z",
          "ProductId": "e48f5ae9-e877-4bd7-a61e-d1d3462228f1",
          "QuotationId": "f15d1878-a79e-44bf-9bb8-88887cb6e195"
        }
      },
      {
        "id": "0f351ea4-2928-4a7e-b5ee-7ab38bb2b738",
        "model": "modelA2",
        "description": "22 description",
        "cost": 100,
        "standardPrice": 200,
        "margin": 1.2,
        "image": "66 image",
        "standard": true,
        "createdAt": "2020-02-22T05:18:38.000Z",
        "updatedAt": "2020-02-22T05:18:38.000Z",
        "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
        "UserId": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
        "Quotation_Product": {
          "id": "d3c164ce-32d6-4482-b37a-c958d5fc40f7",
          "quantity": 2,
          "sellPrice": 500,
          "totalPrice": 1000,
          "margin": 0.8,
          "schedule": "20280229",
          "createdAt": "2020-02-22T16:04:01.000Z",
          "updatedAt": "2020-02-22T16:04:01.000Z",
          "ProductId": "0f351ea4-2928-4a7e-b5ee-7ab38bb2b738",
          "QuotationId": "f15d1878-a79e-44bf-9bb8-88887cb6e195"
        }
      }
    ],
    "Project": {
      "id": "15b0ec7c-d5c8-46b2-8fd5-0ea4688f1f2c",
      "name": "projectA3"
    },
    "Account": {
      "id": "63c1e0da-5cbf-4bf2-bfd6-6208de7ff3d3",
      "name": "accountA3",
      "image": "image"
    },
    "Contact": {
      "id": "a98b92de-2e7f-49fa-8874-2882b3954733",
      "name": "contacA3",
      "image": "88 image"
    }
  }
}
```

This endpoint creates a quotation.
### HTTP Request
<span class="method-post">POST</span> `/v1/quotations`

<%= partial "/includes/quotations/requestParameters.md.erb" %>

<%= partial "/includes/permission/createData.md.erb" %>

<aside class="notice">If you are not admin, but trying to store <code>userId</code> inside request body, the server will ignore it.</aside>

## Get a Specific Quotation `TBD`

<%= partial "/includes/quotations/getOne.md.erb" %>

This endpoint retrieves a specific quotation.
### HTTP Request
<span class="method-get">GET</span>`/v1/quotations/:quotationId`

<%= partial "/includes/permission/getData.md.erb" %>

## Update a Specific Quotation `TBD`

<%= partial "/includes/quotations/updateData.md.erb" %>

This endpoint updates a specific quotation.
### HTTP Request
<span class="method-patch">PATCH</span> `/v1/quotations/:quotationId`

<%= partial "/includes/quotations/requestParameters.md.erb" %>

<%= partial "/includes/permission/updateData.md.erb" %>

<aside class="warning">Once the quotaion has been created, no one can modify it.</aside>

## Delete a Specific Quotation `TBD`

<%= partial "/includes/common/deleteResponse.md.erb" %>

This endpoint deletes a specific quotation.
### HTTP Request
<span class="method-delete">DELETE</span>`/v1/quotations/:quotationId`

<%= partial "/includes/permission/deleteData.md.erb" %>

## Get Products from a Specific Quotation `Deprecated`

> Example Response Body

```json
{
  "status": {
    "status": 200,
    "message": "OK"
  },
  "data": {
    "list": [
      {
        "id": 26,
        "model": "admin 1",
        "quantity": 10,
        "cost": 2000,
        "sellPrice": 500,
        "totalPrice": 5000,
        "margin": 0.6,
        "createdAt": "2019-08-31T04:22:49.000Z",
        "updatedAt": "2019-08-31T04:22:49.000Z",
        "quotationId": 2,
        "productId": 1
      },
      {
        "id": 27,
        "model": "admin 2",
        "quantity": 10,
        "cost": 2000,
        "sellPrice": 500,
        "totalPrice": 5000,
        "margin": 0.6,
        "createdAt": "2019-08-31T04:44:33.000Z",
        "updatedAt": "2019-08-31T04:44:33.000Z",
        "quotationId": 2,
        "productId": 2
      }
    ]
  }
}
```

This endpoint retrieves products from a specific quotation.
### HTTP Request
<span class="method-get">GET</span>`/v1/quotations/:quotationId/products`

<%= partial "/includes/permission/getData.md.erb" %>


## Create Products for a Specific Quotation `Deprecated`
This endpoint create products from a specific quotation.
### HTTP Request
<span class="method-post">POST</span>`/v1/quotations/:quotationId/products`

> Example Request Body

```json
{
  "data": [
    {
      "productId": 2,
      "quantity": 5,
      "sellPrice": 300
    },
    {
      "productId": 3,
      "quantity": 4,
      "sellPrice": 800
    }
  ]
}
```

<%= partial "/includes/quotations/getOne.md.erb" %>

### Request Body Parameters
Parameter | Required | Format | Validation
--------- | ----------- | ----------- | -----------
id | TRUE | Int | isInt
quantity | TRUE | Int | isInt
sellPrice | TRUE | Float |isFloat

<%= partial "/includes/permission/createData.md.erb" %>
