# Users

## Get Me

> Example Response Body

```json
{
  "status": {
    "status": 200,
    "message": "OK"
  },
  "data": {
    "id": "3be8a975-5496-4d76-b61d-eeb913f92ffa",
    "name": "userA3",
    "email": "userA3@companyA.co",
    "phone": "55 phone",
    "mobile": "+886952318999",
    "fax": "+886952318999",
    "image": "K",
    "title": "CTO",
    "address": "address",
    "password": "$2a$12$fBYVoV56RFKZupOcZTH3IO1AkoXlIgxUBCup8sIS3enIxD4yQqYse",
    "role": "user",
    "createdAt": "2020-02-18T15:44:39.000Z",
    "updatedAt": "2020-02-18T15:44:39.000Z",
    "hierarchyLevel": 4,
    "parentId": "7aea9583-1cc9-480f-87cf-026a2cc0ccf8",
    "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
    "Company": {
      "id": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
      "name": "companyA",
      "email": "info@companyA.com",
      "address": "Taipei",
      "invoiceAddress": "Zhongzheng District",
      "deliveryAddress": "Zhongxiao East Road",
      "tel": "+886-2-3393-3393",
      "vatNumber": "12345678",
      "webSite": "https://www.heysasha.com",
      "image": "https://m.media-amazon.com/images/M/MV5BNTI4MjBkNjgtN2ZhYi00YThhLTgxZDMtMjc4MjY4OTRhY2QxXkEyXkFqcGdeQXVyNDY5NTkzMTA@._V1_SY1000_SX1500_AL_.jpg",
      "taxRate": 0.05,
      "profit": 0.3,
      "owner": "PNK",
      "fax": null,
      "createdAt": "2020-02-11T12:13:29.000Z",
      "updatedAt": "2020-02-11T12:21:03.000Z"
    }
  }
}
```

This endpoint retrieves user's profile.
### HTTP Request
<span class="method-get">GET</span> `/v1/users/me`

### Access Permission
Role | Scope
---- | -----
Root | Full permission.
Admin | Full permission
User  | Full permission

## Get All Users

<%= partial "/includes/users/getData.md.erb"%>

This endpoint retrieves all users.
### HTTP Request
<span class="method-get">GET</span> `/v1/users`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can retrieve users which <code>companyId</code> same as admin's.
User  | Full permission, can retrieve users with <code>companyId</code> same user's.

## Create a User

> Example Request Body

```json
{
  "data": {
    "name": "Kong",
    "email": "user01@companyA.com",
    "phone": "55 phone",
    "mobile": "+886952318999",
    "fax": "+886952318999",
    "image": "K",
    "title": "CTO",
    "address": "address",
    "password": "1234567890",
    "parentId": "cd3bf3fe-378b-46a7-9483-57bdbe701401"
  }
}
```

> Example Response Body

```json
{
  "status": {
    "status": 201,
    "message": "Created"
  },
  "data": {
    "id": "5f554d9a-7c3d-4e8b-8d3e-cf8c91a56522",
    "name": "Kong",
    "email": "user01@companyA.com",
    "phone": "55 phone",
    "mobile": "+886952318999",
    "fax": "+886952318999",
    "image": "K",
    "title": "CTO",
    "address": "address",
    "password": "$2a$12$WXwc4XV/CTCpU4MfMI5FhOgUnnNQVsk8nwJB.pecojvJtgr0T0bOO",
    "role": "user",
    "parentId": "cd3bf3fe-378b-46a7-9483-57bdbe701401",
    "CompanyId": "6a90770b-c6ed-4692-815a-6a45ba7594c6",
    "updatedAt": "2020-02-22T14:15:27.857Z",
    "createdAt": "2020-02-22T14:15:27.857Z",
    "hierarchyLevel": 4
  }
}
```

This endpoint creates a user.
### HTTP Request
<span class="method-post">POST</span> `/v1/users`

<%= partial "/includes/users/requestParameters.md.erb"%>

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Creates user with admin's <code>companyId</code>.
User  | Forbidden.

<aside class="notice">
Only Admin can assign <code>&lt;parentId&gt;</code>,
If <code>&lt;parentId&gt;</code> is not assigned, the default parent is admin user
</aside>

## Get a Specific User

<%= partial "/includes/users/getOne.md.erb"%>

This endpoint retrieves a specific user.
### HTTP Request
<span class="method-get">GET</span> `/v1/users/:userId`

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can retrieve user which <code>companyId</code> same as admin's.
User  | Full permission, can retrieve user which <code>companyId</code> same as user's.

## Update a Specific User

<%= partial "/includes/users/updateData.md.erb"%>

This endpoint updates a specific user.
### HTTP Request
<span class="method-patch">PATCH</span>`/v1/users/:userId`

<%= partial "/includes/users/requestParameters.md.erb"%>

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can update users which <code>companyId</code> same as admin's .
User  | Forbidden.

## Update Me

<%= partial "/includes/users/updateData.md.erb"%>

This endpoint updates my user information.
### HTTP Request
<span class="method-patch">PATCH</span>`/v1/users/me`

<%= partial "/includes/users/requestParameters.md.erb"%>

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can update users which <code>companyId</code> same as admin's .
User  | Forbidden.

## Delete a Specific User

<%= partial "/includes/common/deleteResponse.md.erb"%>

This endpoint deletes a specific user.
### HTTP Request
<span class="method-delete">DELETE</span>`/v1/users/me`

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can delete user which <code>companyId</code> same as admin's.
User  | Forbidden.

<aside class="warning">
You cannot delete admin.
</aside>

## Get Accounts from a Specific User

<%= partial "/includes/accounts/getData.md.erb"%>
```

This endpoint retrieves accounts from a specific user.
### HTTP Request
<span class="method-get">GET</span> `/v1/user/:userId/accounts`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can rerieve acounts which <code>companyId</code> same as admin's.
User  | Forbidden.

## Get Contacts from a Specific User

<%= partial "/includes/contacts/getData.md.erb"%>

This endpoint retrieves all contacts from a specific user.
### HTTP Request
<span class="method-get">GET</span> `/v1/users/:userId/contacts`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can rerieve contacts which <code>companyId</code> same as admin's.
User  | Forbidden.

## Get Projects from a Specific User

<%= partial "/includes/projects/getData.md.erb"%>

This endpoint retrieves projects from a specific user.
### HTTP Request
<span class="method-get">GET</span> `/v1/users/:userId/projects`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can rerieve projects which <code>companyId</code> same as admin's.
User  | Forbidden.

## Get Quotations from a Specific User

<%= partial "/includes/quotations/getData.md.erb"%>

This endpoint retrieves quotations from a specific user.
### HTTP Request
<span class="method-get">GET</span> `/v1/users/:userId/quotations`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can rerieve quotations which <code>companyId</code> same as admin's.
User  | Forbidden.

## Get Products from a Specific User

<%= partial "/includes/products/getData.md.erb"%>

This endpoint retrieves products from a specific user.
### HTTP Request
<span class="method-get">GET</span> `/v1/users/:userId/products`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

### Access Permission
Role | Scope
---- | -----
Root | Forbidden.
Admin | Full permission, can rerieve quotations which <code>companyId</code> same as admin's.
User  | Forbidden.


## Get Members of Specific Users

<%= partial "/includes/users/getData.md.erb"%>

This endpoint retrieves members from a specific user.
### HTTP Request
<span class="method-get">GET</span> `/v1/users/:userId/members`

### Query Parameters
Parameter | Default | Description
--------- | ------- | -----------
TBD | false | TBD.
TBD | true | TBD.

<%= partial "/includes/permission/getData.md.erb"%>
